[Unit]
Description=Application "%i"
After=environment.target
IgnoreOnIsolate=yes

[Service]
EnvironmentFile=-/etc/locale.conf
ExecStart=/usr/bin/env %i

KillMode=process
