[Unit]
Description=FVWM
#Wants=compton.service
#Wants=gnome-sound-applet.service
#Wants=nm-applet.service
#Wants=stalonetray.service
#Conflicts=gnome-session.service
After=environment.target

[Service]
EnvironmentFile=-/etc/locale.conf
ExecStart=/usr/bin/fvwm
KillMode=process
Restart=always
RestartSec=1
