[Unit]
Description=Gajim
#Conflicts=gnome-session.service

[Service]
#RootDirectory=/usr/share/gajim/src
#ExecStart=/usr/bin/python -OO gajim.py
#Type=forking
EnvironmentFile=-/etc/locale.conf
ExecStart=/usr/bin/python -OO /usr/share/gajim/src/gajim.py --verbose

[Install]
WantedBy=default.target
