[Unit]
After=gnome-keyring-system-prompter.service
Requires=gnome-keyring-system-prompter.service
Description=GNOME Keyring Daemon
IgnoreOnIsolate=true

[Service]
Type=dbus
EnvironmentFile=-/etc/locale.conf
Environment=DISPLAY=:0
BusName=org.gnome.keyring
BusName=org.freedesktop.secrets
ExecStart=/usr/bin/gnome-keyring-daemon --start -f
