[Unit]
Description=Notification Daemon

[Service]
EnvironmentFile=-/etc/locale.conf
ExecStart=/usr/libexec/notification-daemon

[Install]
WantedBy=default.target
