[Unit]
After=at-spi-bus-launcher.service
Requires=at-spi-bus-launcher.service
After=gvfsd.service
Requires=gvfsd.service
Description=Notification Daemon

[Service]
Type=dbus
EnvironmentFile=-/etc/locale.conf
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/dbus/user_bus_socket
BusName=org.freedesktop.Notifications
ExecStart=/usr/libexec/notification-daemon

[Install]
WantedBy=default.target
