[Unit]
Description=Notification Daemon

[Service]
Type=dbus
EnvironmentFile=-/etc/locale.conf
Environment=DISPLAY=:0
BusName=org.freedesktop.Notifications
ExecStart=/usr/libexec/notification-daemon

[Install]
WantedBy=default.target
