[Unit]
Description=RXVT-Unicode Daemon

[Service]
After=environment.target
Wants=environment.target
ExecStart=/usr/bin/urxvtd -q -o

[Install]
WantedBy=default.target
